.BoardExpandableSection {
    // border-top: 1px solid var(--bg-light);
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    margin-top: 0px;

    &.dragged-over {
        background-color: var(--bg-select);
    }

    .board-header-section {
        > div:first-child,
        .ListLink {
            flex-grow: 1;
            overflow: hidden;
        }
        &:hover {
            background-color: var(--bg-hover);
        }
        .board-header-title {
            cursor: pointer;
            overflow: hidden;
            padding: 4px 4px 4px 14px;
        }

        .header-control-section {
            display: inline-flex;
            align-items: center;

            .hover-control-section {
                display: none;
            }
            .IconButton {
                .Icon {
                    // margin-bottom: 2px;
                    height: 24px;
                    svg {
                        max-height: 16px;
                    }
                }
            }
        }

        &:hover {
            .hover-control-section {
                display: inline-flex;
            }
        }
    }

    .board-item-list {
        padding-bottom: var(--padding-sm);
    }
}
