.Announcement {
    border-radius: var(--border-radius-sm);
    background-color: var(--color-yellow-lightest);
    // font-weight: var(--bold-font);
    color: var(--text);
    margin: 8px;
    padding: 8px;
    text-align: center;

    strong {
        color: var(--color-accent-dark);
    }
    + .Announcement {
        margin-top: 0px;
    }
}
