.DataDocSchemaNavigator {
    .DataTableNavigator {
        flex: 1 0 200px;
    }

    .schema-info-panel {
        min-height: 20%;
        max-height: 80%;
        box-shadow: var(--box-shadow);
        width: calc(100% - 16px) !important;
        margin: auto 8px;
    }

        .DataTableViewMini {
            border-top: var(--border);
            height: 100%;
            margin-left: 8px;
        }
}
