.DataTableViewMini {
    display: flex;
    flex-direction: column;
    background: var(--bg);
    overflow: hidden;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--bg-light);

    .DataTableViewMini-header {
        position: sticky;
        top: 0;
        background: var(--bg-lightest);
        border-bottom: 1px solid var(--bg-light);
    }

    .DataTableViewMini-content {
        overflow-y: auto;
        // > div {
        //     margin-right: 4px;
        // }
        .Icon {
            svg {
                max-height: 16px;
            }
        }
    }
    .DataTableTags {
        margin-top: -4px;
        margin-left: -2px;
    }
}
