.DataDocRightSidebar {
    .DataDocRightSidebar-button-section {
        .DataDocRightSidebar-button-section-top {
            .connected-button {
                color: var(--color-false);
            }
            .IconButton {
                transition: opacity 0.2s ease-out;
                &.hide-button {
                    opacity: 0;
                    pointer-events: none;
                }
                .Icon {
                    // margin-bottom: 2px;
                    height: 24px;
                    svg {
                        max-height: 16px;
                    }
                }
            }
        }
        .DataDocRightSidebar-button-section-bottom {
            span.Icon {
                // margin-bottom: 2px;
                height: 24px;
                svg {
                    max-height: 16px;
                }
            }
        }
    }

    .schema-panel-wrapper {
        position: fixed;
        right: 0;
        height: 100%;
        display: flex;
    }
}
